@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-y: hidden;
}

*{
  cursor: none !important;
}

@font-face {
  font-family: "Vinque";
  src: url("/fonts/vinque.otf") format("opentype");
}

@font-face {
  font-family: "Spartan";
  src: url("/fonts/Spartan-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Spartan";
  src: url("/fonts/Spartan-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Spartan";
  src: url("/fonts/Spartan-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Spartan";
  src: url("/fonts/Spartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

.gradient-background{
  background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.slider::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.small-scroll {
  padding-bottom: 4px;
}

.small-scroll::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.small-scroll::-webkit-scrollbar-track {
  margin: 8px 0;
}

*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: black;
}

*::-webkit-scrollbar-track:hover {
  background-color: black;
}

*::-webkit-scrollbar-track:active {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f30637;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #d0022b;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f30637;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 70%);
}

.clip-path-full {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.char{
  transform: translateY(100%);
}

.scrollbar-thumb{
  background: #f30637 !important;
}

.scrollbar-track{
  background: #1f1f1f !important;
}